# Dependencies
node_modules

# Local env files
.env
.env.local
.env.*.local

# Testing
coverage

# Turbo
.turbo

# Build outputs
out/
dist
target/

# Cargo
.cargo-local/

# Debug
*.log

# Misc
.DS_Store
*.pem

